<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <h1><%=spacePost.name%></h1>
                <img class="img-responsive" src="<%= spacePost.image %>">
                <div class="caption-full">
                    <p><%= spacePost.description %></p>
                </div>
                <div>
                     <p><%= spacePost.text %></p>

                </div>
                <div>
                    <p>Submitted by <%= spacePost.author.username %></p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <p><a class="btn btn-success" href="/spaceblog/<%= spacePost._id %>/comments/new">Add New Comment</a></p>
                <% spacePost.comments.forEach(function(comment){ %>
                    <p>
                        <strong><%= comment.author %></strong> - <%= comment.text %>
                    </p>
                <% }) %>

            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>
