<% include ../partials/header %>
    <div class="spaceSection">
        <div class="row">
            <h1 id="titleSpace" class="my-4">Space blog
            </h1>
            <div class="moon">
            </div>
            <div class="col-md-10 col-sm-10 col-lg-10">

                <% if(currentUser && currentUser.username === "alex"){ %>
                    <p>
                        <a class="btn btn-primary btn-large" href="/spaceblog/new">Add New Space Post</a>
                    </p>
                    <% }%>
                        <div class="card-columns">

                            <% spacePosts.forEach(function(post){ %>
                                <div class="container">
                                    <div id="posts" class="card rounded shadow">

                                        <!-- <div class="card-img-top"> -->
                                        <img class="item card-img" src="<%= post.image %>">
                                        <div class="card-block">
                                            <h4 class="card-title">
                                                <%= post.name %>
                                            </h4>
                                            <p class="card-text">
                                                <%= post.description %>
                                            </p>
                                            <p style="margin: 20px 1%">
                                                <a href="/spaceblog/<%= post._id %>" id="readMore" class="btn btn-primary">Read more &rarr;</a>
                                            </p>
                                            <!-- </div> -->

                                        </div>
                                        <div class="card-footer text-muted">
                                            Posted on
                                            <%= moment(post.createdOn).format('dddd DD/MM/YYYY hh24');  %>
                                                by
                                                <%= post.author.username %>
                                        </div>
                                    </div>
                                    <!-- <hr> -->
                                </div>




                                <% }); %>

                        </div>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-2 col-sm-2 col-lg-2">

                
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <!-- Pagination -->
                <div class="container text-center">
                    <ul class="pagination">
                        <li>
                            <% for(var i = 0; i < pages; i++) { %>
                                <% if(i===0) { %>
                                    <li>Pages:
                                        <a href="/spaceblog">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li><a href="/spaceblog/page/<%= i %>"> - <%= i %></a></li>
                                        <% } %>
                                            <% } %>
                        </li>
                    </ul>


                </div>
            </div>

        </div>



    </div>

    <% include ../partials/footer %>